.itemDetails{
	margin-top:10px;
}



.block{
	margin-bottom: 10px;
	padding-top:20px; 
	padding-bottom: 20px;
	border-width: thin;
	border-style: solid;
  border-color: lightgrey;
}

.block:hover {
  border-color: black;
}

.itemDetails{
	background-color: #E0FBFC;
	width: auto;
}

.itemDetails p{
	background: white;
	font-weight: bold;
	font-size: 125%;
	text-align: center;
}

#pricePurchase{
	padding:10px;
}
.itemDetails #price{
	font-weight: bold;
	font-size: 200%;
}
